<table class="mt-4 table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artista</th>
      <th scope="col">Cant. Albumes</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data; let i = index">
      <tr (click)="selectedArtistName(item.name)" style="cursor: pointer">
        <th scope="row">{{ i }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.albums?.length }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
