<h4>{{ albumName }}</h4>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Album</th>
        <th scope="col">Año</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectedSongName('Canción 1')" style="cursor: pointer;">
        <th scope="row">1</th>
        <td>Canción 1</td>
        <td>2015</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Canción 2</td>
        <td>1958</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Canción 3</td>
        <td>1996</td>
      </tr>
    </tbody>
  </table>